<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- !!!!!!!!!!!  Important  !!!!!!!!!!! -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- !!!!!!!!!!!  Important  !!!!!!!!!!! -->

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GetLocationFromMap"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <!-- !!!!!!!!!!!  Important  !!!!!!!!!!! -->
        <!--    照著 https://developers.google.com/maps/documentation/android-sdk/start?hl=zh-tw#create-project "建立金鑰" 並 "啟動 Maps SDK" -->
        <!--    注意:一定要記得啟動 Maps SDK 的功能 https://console.cloud.google.com/apis/library/maps-android-backend.googleapis.com  -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_map_key" />
        <!-- !!!!!!!!!!!  Important  !!!!!!!!!!! -->

    </application>

</manifest>